<!DOCTYPE html>
<html lang="en">
{% include 'base.head.dashboard.html.twig' %}

<body>
<div class="container-xxl position-relative bg-white d-flex p-0">
    {% include 'base.sliderbar.dashboard.twig' %}
    <!-- Content Start -->
    <div class="content">
        {% include 'base.start.content.html.twig' %}
        {% include 'funslider.html.twig' %}


        <div class="col-sm col-xl align-content-center">
            <form class="bg-light rounded h-100 p-4">
                <h6 class="mb-4">Reportes</h6>
                <div class="form-floating mb-3">
                    <select class="form-select" id="floatingSelect"
                            aria-label="Floating label select example">
                        <option selected>Seleccione el destino del reporte</option>
                        <option value="1">Administración</option>
                    </select>
                    <label for="floatingSelect">Reporte a: </label>
                </div>
                <div class="form-floating">
                                <textarea class="form-control" placeholder="Leave a comment here"
                                          id="floatingTextarea" style="height: 150px;"></textarea>
                    <label for="floatingTextarea">Commentario</label>
                </div>
            </form>
        </div>
        {% include 'base.footer.html.twig' %}
    </div>
    <!-- Content End -->
    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
</div>

{% include'base.library.js.html.twig'%}
</body>

</html>
